[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
beanie = "*"
uvicorn = "*"
pydantic = "*"
redis = "*"
scikit-learn = "*"
apscheduler = "*"
python-decouple = "*"
starlette = "*"
scrapy = "*"
pykml = "*"
geopandas = "*"
matplotlib = "*"
selenium = "*"
webdriver-manager = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.12"
